@model RestaurantManagement.Contracts.Models.StaffUpdateModel
@{ ViewData["Title"] = "Update selected staff member"; }
@{ 
    var context = new RestaurantManagement.Data.RestaurantManagementCodeFirstContext();
    var unitOfWork = new RestaurantManagement.Data.UnitOfWork(context);

    var logicHandler = new RestaurantManagement.BusinessLogic.Services.LogicHandler();

    var configurationSettings = new RestaurantManagement.Contracts.Settings.ConfigurationSettings();
    Microsoft.Extensions.Options.IOptions<RestaurantManagement.Contracts.Settings.ConfigurationSettings> options = Microsoft.Extensions.Options.Options.Create(configurationSettings);

    var personRoleService = new RestaurantManagement.BusinessLogic.Services.PersonRoleService(logicHandler, options, unitOfWork);
    var roleList = await personRoleService.GetRoles();
}
<h2>Update</h2>
<h4>Staff</h4>
<div class="row">
    <div class="col-md-4">
        <form asp-action="StaffUpdate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label class="control-label">Existing staff member ID*</label>
                <input name="id" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="UserName" class="control-label">New user name*</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UserPassword" class="control-label">New user password*</label>
                <input asp-for="UserPassword" class="form-control" />
                <span asp-validation-for="UserPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PersonRoleId" class="control-label">New Person role*</label>
                @Html.DropDownListFor(x => x.PersonRoleId, new SelectList(roleList, "Id", "RoleName"), "--Select Role--", new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.PersonRoleId, "", new { @class = "text-danger" })
            </div>

            @*<div class="form-group">
                <label asp-for="StartDayOfEmployment" class="control-label">Contract from*</label>
                <input asp-for="StartDayOfEmployment" class="form-control" />
                <span asp-validation-for="StartDayOfEmployment" class="text-danger"></span>
            </div>*@

        <div class="form-group">
            <label asp-for="EndDayOfEmployment" class="control-label">Contract until*</label>
            @*<div class="hide">Date format: <br />YYYY-MM-DD</div>*@
            <input asp-for="EndDayOfEmployment" class="form-control" />
            <span asp-validation-for="EndDayOfEmployment" class="text-danger"></span>
        </div>

            <div class="form-group">
                <button type="submit" class="button" id="button-3">Update</button>
            </div>

            <div class="form-group">
                <p>* - required</p>
            </div>

            <p style="color:red">@ViewBag.Message</p>
        </form>
    </div>
</div>

<a asp-action="Index" class="btn btn-default active">&#8629 Go back</a>

<style>
    .btn-default {
        border-color: cornflowerblue
    }

    .button {
        display: inline-flex;
        height: 40px;
        width: 150px;
        border: 2px solid #DF9924;
        margin: 20px 20px 20px 0px;
        color: #DF9924;
        text-transform: uppercase;
        text-decoration: none;
        font-size: .8em;
        letter-spacing: 1.5px;
        align-items: center;
        justify-content: center;
    }

    value {
        color: #DF9924;
        text-decoration: none;
        letter-spacing: 1px;
    }

    #button-3 {
        position: relative;
        overflow: hidden;
        cursor: pointer;
    }

        #button-3:hover {
            color: #2D3142;
            background: #DF9924;
        }

    .hide {
        display: none;
    }

    .control-label:hover + .hide {
        display: block;
        font-style: italic;
        color: darkgreen;
    }
</style>
